<meta charset="utf-8">
<title>{{ site.title }}</title>
<meta name="description" content="Personal website for Alex Zharichenko.">
<meta name="author" content="Alex Zharichenko">

<meta name="viewport" content="width=device-width,initial-scale=1.0">

<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">

<link rel="icon" href="favicon.ico">

<style>
    *
    {
        margin: 0;
    }
    html, body
    {
        height: 100%;
        width: 100%;
        font-family: 'Source Sans Pro';
        display: flex;
    }
    .left-wrapper
    {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 30%;
        background-color: #d32f2f;
    }
    .left
    {
        width: 75%;
        color: white;
        text-align: center;
    }
    .title
    {
        color: white;
        font-size: 3em;
        font-weight: bold;
    }
    .right-wrapper
    {
        height: 100%;
        width: 70%;
        display: flex;
        justify-content: center;
    }
    .right
    {
        padding: 80px;
        overflow-y: scroll;
    }
    .cols
    {
        display: flex;
        justify-content: space-between;
    }
    .cols-left
    {
    }
    .cols-right
    {
    }
    ul
    {
        padding: 0;
        padding-left: 20px;
    }
    h1
    {
        color: #ff6659;
        background-color: #E7ECF0;
        padding: 5px;
        padding-left: 25px;
        padding-right: 25px;
        margin-bottom: 5px;
    }
    .position
    {
        color: #9a0007;
        font-weight: bold;
    }
    .range
    {
        font-weight: bold;
    }
    .section
    {
        margin-bottom: 20px;
    }
    .right div:last-child
    {
        margin-bottom: 0;
    }
    .section-content
    {
        margin-left: 25px;
        margin-right: 25px;
    }
    .right-link
    {
        text-decoration: none;
        color: white;
        margin-left: 5px;
        margin-right: 5px;
    }
    a
    {
        color: black;
    }
    .project-highlight
    {
        margin-left: 10px;
        color: #9a0007;
        font-weight: bold;
    }
    @media (max-width: 800px)
    {
        html, body
        {
            display: block;
        }
        .left-wrapper
        {
            width: 100%;
            height: 200px;
        }
        .right-wrapper
        {
            width: 100%;
        }
        .right
        {
            padding-left: 20px;
            padding-right: 20px;
            overflow-y: visible;
        }
    }
</style>
