<!doctype html>

<html lang="en">
    <head>
      {% include header.html %}
    </head>
    <body>
        <div class="left-wrapper">
            <div class="left">
                <div class="title">
                    alex zharichenko
                </div>
                <a class="right-link" href="Resume.pdf">Resume</a>
                <a class="right-link" href="mailto:azharichenko@gmail.com">Email</a>
                <a class="right-link" href="https://github.com/azharichenko">GitHub</a>
                <a class="right-link" href="https://www.linkedin.com/in/azharichenko/">LinkedIn</a>
                <a class="right-link" href="https://thecompsciguy.com/">Blog & Portfoilo</a>
            </div>
        </div>
        <div class="right-wrapper">
          {{content}}
        </div>

</body>
</html>
